[submodule "src/vtchmod"]
	path = src/vtchmod
	url = https://github.com/fnr1r/vtchmod.git
[submodule "src/vtoytool"]
	path = src/vtoytool
	url = https://github.com/fnr1r/vtoytool.git
[submodule "src/vtoy_fuse_iso"]
	path = src/vtoy_fuse_iso
	url = https://github.com/fnr1r/vtoy_fuse_iso.git
